.col {
    border-bottom: 1px solid var(--secondary-light);
    margin:0 0 20px ;
    padding:0 0 20px ;
    display: none;
}

@media (min-width:768px) {
    .col {
        display: block;
        border-bottom: none;
        border-right: 1px solid var(--secondary-light);
        margin:0 20px 0 0 ;
        padding:0 20px 0 0 ;
    }
}



.col a {
    border-radius: 4px !important;
    border-color: var(--secondary-light);
    border-top-width: 1px !important;
    transition: all 0.2s ease;
    margin: 5px 0 !important;
}


.col a:hover,
.col a:focus {
    background-color: var(--primary);
    color: white;
    
}
